wp-admin
wp-includes
wp-content/**
.htaccess
index.php
license.txt
local-xdebuginfo.php
readme.html
wp-*.php
xmlrpc.php
data/pdf_generati/
data/ausiliario.json
!wp-content/themes
!wp-content/themes/twentytwentyfour
!wp-content/themes/twentytwentyfour/templates
!wp-content/themes/twentytwentyfour/templates/index.php
!wp-content/themes/twentytwentyfour/templates/test.php
!wp-content/themes/twentytwentyfour/templates/configurazione.php
*.vpp~*